<html>
  <head>
    <style type="text/css">
      body, html, table {
        font-family: "Open Sans";
        font-size: 120px;
        padding: 0px;
        margin: 0px;
      }

      p { page-break-inside: avoid; }

      ul, ol {
        margin-left: 230px;
        margin-bottom: 100px;
      }
      li {
        padding-bottom: 50px;
        page-break-inside: avoid;
      }

      table, td {
        border-collapse: collapse;
        border: 1px solid #000;
        page-break-inside: avoid;
        font-size: 16px;
      }

      table .heading, table .heading td {
        background-color: #eee;
      }

      td {
        padding: 3px 7px;
      }

      h1 {
        font-size: 40px;
      }
      
      p {
        font-size: 20px;
      }
    </style>
    <meta charset="UTF-8">
  </head>
  <body>
    <center>
    <h1><%= remindable.name %></h1>
    <h1><%= Time.now.in_time_zone(remindable.time_zone).year %> Compliance Calendar</h1>
    </center>
    <% for i in 1..12 do %>
      <p style="text-decoration: underline;"><%= I18n.t(:date)[:month_names][i] %></p>
      <% base_date = Date.today.in_time_zone(remindable.time_zone) %>
      <% tgt_from_date = Date.parse("#{base_date.year}-#{i.to_s.rjust(2, '0')}-01") %>
      <% tgt_to_date = tgt_from_date+1.month %>
      <% reminders = remindable.reminders.where("remind_at > ?", tgt_from_date).where("remind_at < ?", tgt_to_date) %>
      <% projects_complete = remindable.projects.complete.where("completed_at > ?", tgt_from_date).where("completed_at < ?", tgt_to_date) %>
      <% projects_active = remindable.projects.active.where("starts_on > ?", tgt_from_date).where("starts_on < ?", tgt_to_date) %>
      <% if reminders.count.positive? || projects_complete.count.positive? || projects_active.count.positive? %>
        <p>
          <table>
            <tr class="heading">
              <td>Task</td>
              <td>Starts</td>
              <td>Ends</td>
              <td>Completed</td>
            </tr>
            <% reminders.each do |reminder| %>
              <tr>
                <td><%= reminder.body %></td>
                <td><%= reminder.remind_at.in_time_zone(remindable.time_zone).strftime('%b %-d, %Y') %></td>
                <td><%= reminder.end_date.in_time_zone(remindable.time_zone).strftime('%b %-d, %Y') %></td>
                <td><%= reminder.done_at.in_time_zone(remindable.time_zone).strftime('%b %-d, %Y') if reminder.done_at.present? %></td>
              </tr>
            <% end %>
            <% projects_complete.each do |reminder| %>
              <tr>
                <td><%= reminder.title %></td>
                <td><%= reminder.starts_on.in_time_zone(remindable.time_zone).strftime('%b %-d, %Y') %></td>
                <td><%= reminder.ends_on.in_time_zone(remindable.time_zone).strftime('%b %-d, %Y') %></td>
                <td><%= reminder.completed_at.in_time_zone(remindable.time_zone).strftime('%b %-d, %Y') %></td>
              </tr>
            <% end %>
            <% projects_active.each do |reminder| %>
              <tr>
                <td><%= reminder.title %></td>
                <td><%= reminder.starts_on.in_time_zone(remindable.time_zone).strftime('%b %-d, %Y') %></td>
                <td><%= reminder.ends_on.in_time_zone(remindable.time_zone).strftime('%b %-d, %Y') %></td>
                <td></td>
              </tr>
            <% end %>
          </table>
        </p>
      <% end %>
    <% end %>

  </body>
</html>