<html>
  <head>
    <style type="text/css">
      @font-face {
          font-family: 'Canela';
          src: url('<%= Rails.root.join("public", "fonts", "Canela-Medium.otf") %>') format('opentype');
      }
      body, html, table {
        font-size: 120px;
        padding: 0px;
        margin: 0px;
        font-family: Canela, arial, Sans-Serif, serif;
      }

      p { page-break-inside: avoid; }

      ul, ol {
        margin-left: 230px;
        margin-bottom: 100px;
      }
      li {
        padding-bottom: 50px;
        page-break-inside: avoid;
      }

      table, td {
        border-collapse: collapse;
        border: 1px solid #000;
        page-break-inside: avoid;
        font-size: 16px;
      }

      table .heading, table .heading td {
        background-color: #eee;
      }

      td {
        padding: 3px 7px;
      }

      h1 {
        font-size: 40px;
      }
      
      p {
        font-size: 20px;
      }

      .page-break { display:block; clear:both; page-break-after:always; }
    </style>
    <meta charset="UTF-8">
  </head>
  <body>
  <% (remindable.created_at.year..Date.today.year).each do |year| %>
    <center>
    <h1><%= remindable.name %></h1>
    <h1><%= year %> Compliance Calendar</h1>
    </center>
    <% Reminder::TOTAL_MONTH.each do |i| %>
      <p style="text-decoration: underline;"><%= I18n.t(:date)[:month_names][i] %></p>
      <% base_date = Date.new(year, 01, 01) %>
      <% tgt_from_date = Date.parse("#{base_date.year}-#{i.to_s.rjust(2, '0')}-01") %>
      <% tgt_to_date = tgt_from_date+1.month %>
      <% reminders = Reminder.get_all_reminders(remindable, tgt_from_date, tgt_to_date) %>
      <% if reminders.count.positive? %>
        <p>
          <table>
            <tr class="heading">
              <td>Task</td>
              <td>Starts</td>
              <td>Ends</td>
              <td>Completed</td>
            </tr>
            <% reminders.each do |reminder| %>
              <tr>
                <td><%= reminder.body %></td>
                <td><%= reminder&.remind_at&.in_time_zone(remindable.time_zone)&.strftime('%b %-d, %Y') %></td>
                <td><%= reminder&.end_date&.in_time_zone(remindable.time_zone)&.strftime('%b %-d, %Y') %></td>
                <td><%= reminder&.done_at&.in_time_zone(remindable.time_zone)&.strftime('%b %-d, %Y') if reminder.done_at.present? %></td>
              </tr>
            <% end %>
          </table>
        </p>
      <% end %>
    <% end %>
    <div class="page-break"></div>
    <% end %>
  </body>
</html>
