<div class="public-header">
    <div class="public-menu">
      <div class="container">
      <ul>
        <li>
          <%= link_to 'General', '/' %>
        </li>
        <li>
          <%= link_to 'Portfolio Management', '/' %>
        </li>
        <li>
          <%= link_to 'Client Management', '/' %>
        </li>
        <li>
          <%= link_to 'Back Office', '/' %>
        </li>
        <li>
          <%= link_to 'Cybersecurity', '/' %>
        </li>
      </ul>
    </div>
  </div>
</div>
