<html>
  <head>
    <style type="text/css">
      body, html, table {
        font-family: "Roboto";
        font-size: 16px;
        padding: 30px;
        margin: 0px;
      }

      p { page-break-inside: avoid; }

      ul, ol {
        margin-left: 30px;
        margin-bottom: 13px;
      }
      li {
        padding-bottom: 6px;
        page-break-inside: avoid;
      }

      table, td {
        border-collapse: collapse;
        border: 1px solid #000;
        page-break-inside: avoid;
      }

      td {
        padding: 3px;
      }
    </style>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>I. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Executive Summary</h1>
    
    <p>
      <%= @business.business_name %> (or the "Company") conducted an annual review of its compliance program from <%= raw(@annual_report.exam_start.strftime("%Y %B %d")) %> through <%= raw(Time.now.strftime("%Y %B %d")) %>. <%= @business.business_name %> reviews the following areas in relation to its business activities:
    </p>
    <ol style="list-style-type: upper-roman;">
      <li>Executive Summary</li>
      <li>Objectives</li>
      <li>Material Business Changes</li>
      <li>Material Regulatory Changes</li>
      <li>Findings and Recommendations</li>
      <li>Code of Ethics (the "Code") and Insider Trading</li>
      <li>Conclusion</li>
    </ol>

    <p>
      <%= @business.business_name %> reviewed certain books and records covering the time period from <%= @annual_report.review_start.strftime("%Y %B %d") %> through <%= @annual_report.review_end.strftime("%Y %B %d") %> (the "Review Period"). In addition, there was a review of the Company’s written policies and procedures along with documentation demonstrating their implementation. The following key employees were interviewed to gain additional insight into the Company’s operations and to compare their practices with the written policies and procedures:
    </p>

    <ul>
      <% @annual_report.annual_review_employees.each do |emp| %>
        <li><%= emp.name %>, <%= emp.title %>, <%= emp.department %></li>
      <% end %>
    </ul>

    <p>
      Finally, <%= @business.business_name %> analyzed the following:
    </p>

    <ul>
      <li>the Compliance Manual;</li>
      <li>Any reviews performed by the Company to evaluate the adequacy and effectiveness of its compliance program; and</li>
      <li>As applicable, <%= @business.business_name %>’s responses to issues noted during its prior internal reviews or issues noted during the most recent examination by the securities regulator.</li>
    </ul>

    <p>
      Based on <%= @business.business_name %>’s review, <%= @business.business_name %>’s compliance program appears <%= ["poorly tailored", "reasonably tailored", "well-tailored"][@annual_report.tailored_lvl-1] %> relative to the scope and nature of the Company’s operations. 
    </p>

    <p>
      <%= @annual_report.comments %>
    </p>

    <p>
      This report contains specific observations and recommendations concerning the Company’s practices, including general context and references to certain securities laws. The findings are presented in three parts: (i) identification of an any perceived weaknesses or compliance issues at <%= @business.business_name %>; (ii) how the Company intends to remediate the findings noted; and (iii) an assigned risk level of low, moderate, and high. These risk ratings generally reflect a subjective assessment as to the potential regulatory risk of the finding and is not reflective of any rating or ranking system adopted by or approved by a regulator, rating agency, or other third party. The risk ratings can be understood as follows:
    </p>

    <ul style="page-break-inside: avoid;">
      <li>
        <span style="color: #00a746; font-weight: bold;">LOW</span> – Reflects a minor technical rule violation or recommended enhancement based on best business practices. These findings may or may not appear within a deficiency letter during the course of a regulatory examination.
      </li>
      <li>
        <span style="color: #ffb800; font-weight: bold;">MODERATE</span> – Reflects an area of concern that could attract more regulatory scrutiny. These findings are most likely to be commented on within a deficiency letter during the course of a regulatory examination.
      </li>
      <li>
        <span style="color: #ff0000; font-weight: bold;">HIGH</span> – Reflects a finding of the highest level of concern and requiring immediate attention from the Company. These findings will be heavily scrutinized and may give rise to a potential enforcement action without proper additional review and remediation during the course of a regulatory examination.
      </li>
    </ul>

    <h1>II. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Objectives</h1>

    <p>
      The review of <%= @business.business_name %>’s compliance program covered areas relevant to the Company’s compliance with:
    </p>

    <ul>
      <li><% if @business.state_or_sec == 'sec' %>the Investment Advisers Act of 1940 (“Advisers Act”)<% else %>state securities regulations<% end %></li>
      <li>internal policies and procedures,</li>
      <li>industry best practices, and</li>
      <li>the Company’s knowledge of regulatory expectations.</li>
    </ul>

    <p>
      <%= @business.business_name %>’s review included an assessment of the adequacy and effectiveness of its policies and procedures in each of the following areas:
    </p>
    <ul>
      <li>Proprietary trading of the Company and personal trading activities of its access persons;</li>
      <li>Safeguards like cybersecurity controls for the protection of sensitive client records and information, as well as, <%= @business.business_name %>’s proprietary information;</li>
      <li>Portfolio management processes, including allocation of investment opportunities among clients and consistency of portfolios with clients' investment objectives, disclosures by the Company, and applicable regulatory restrictions;</li>
      <li>Trading practices, including procedures by which the Company satisfies its best execution obligation, uses client brokerage to obtain research and other services ("soft dollar arrangements"), and allocates aggregated trades among clients;</li>
      <li>Processes to value client holdings and assess fees based on those valuations;</li>
      <li>Proxy voting practices;</li>
      <li>The accuracy of disclosures made to clients and regulators, including account statements and advertisements;</li>
      <li>Marketing advisory services, including the use of solicitors;</li>
      <li>Safeguarding of client assets from conversion or inappropriate use by employees;</li>
      <li>The accurate creation of required records and their maintenance in a manner that secures them from unauthorized alteration or use and protects them from untimely destruction;</li>
      <li>Business continuity plans; and</li>
      <li>Any areas <%= @business.business_name %> deemed necessary based upon the Company’s specific operational and business practice risks.</li>
    </ul>

    <p>
      While the review addressed each of the areas noted above, <%= @business.business_name %> prioritized those areas believed to present the most risk to the Company and/or its clients.
    </p>

    <h1>II. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Material Business Changes</h1>

    <p>
      The following material changes in <%= @business.business_name %>’s business activities occurred during the Review Period:
    </p>

    <ul>
      <% @annual_report.business_changes.each do |change| %>
        <li><%= change.change %></li>
      <% end %>
    </ul>

    <h1>IV. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Material Regulatory Changes</h1>
    <p>The Company responded to the following regulatory developments during the Review Period:</p>
    <ul>
      <% @annual_report.regulatory_changes.each do |change| %>
        <li><%= change.change %> – <%= change.response %></li>
      <% end %>
    </ul>

    <h1>V. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Findings and Recommendations</h1>

    <% ind = 0 %>
    <% ComplianceCategory.all.each do |compliance_category| %>
      <% cbs = [] %>
      <% compliance_category.checkboxes.split("\r\n").each do |cb| %>
        <% cbs.push(cb) if ((cb[0] != " ") && (@annual_report.cof_str[ind].to_i == 1)) %>
        <% ind += 1 %>
      <% end %>
      <% if cbs.length.positive? %>
        <h3 style="text-align: center;"><%= compliance_category.name %></h3>
        <p><%= @business.business_name %>’s review of its policies and procedures related to personal securities trading, political donations, gifts and entertainment, outside business activities, and material nonpublic information resulted in no notable issues with respect to the following areas:</p>
        <ul>
          <% cbs.each do |cb| %>
            <li><%= cb %></li>
          <% end %>
        </ul>
        <% findings = @annual_report.findings.where(compliance_category: compliance_category.id) %>
        <% if findings.count.positive? %>
          <p>However, the Company had the following comments regarding compliance matters related to the Code and insider trading:</p>

          <table>
            <tr>
              <td>Issue</td>
              <td>Findings and recommendations</td>
              <td>Risk Level</td>
            </tr>
            <% colors = ["#00a746", "#ffb800", "#ff0000"] %>
            <% captions = ["Low", "Moderate", "High"] %>
            <% findings.each do |finding| %>
              <tr>
                <td><%= finding.finding %></td>
                <td><%= finding.action %></td>
                <td style="background-color: <%= colors[finding.risk_lvl-1] %>"><%= captions[finding.risk_lvl-1] %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
      <% end %>
    <% end %>

    <h1>VI. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Conclusion</h1>

    <p>
      <%= @business.business_name %> has made reasonable efforts to adequately assess our compliance program based upon the review of our books and records along with the oral representations from our employees. Where practicable, the Company only reviewed certain of its records on a sample basis. Our findings and recommendations reflect the applicable regulations, compliance requirements, and the status of our operations only as of the time of this review.
    </p>

    <p>
      This report is intended solely for the information and use of <%= @business.business_name %>.
    </p>

  </body>
</html>