<html>
  <head>
    <style type="text/css">
        @font-face {
            font-family: 'Canela';
            src: url('<%= Rails.root.join("public", "fonts", "Canela-Medium.otf") %>') format('opentype');
        }

        @font-face {
            font-family: 'Canela Bold';
            src: url('<%= Rails.root.join("public", "fonts", "Canela-Bold.otf") %>') format('opentype');
        }
        @font-face {
            font-family: 'Canela Black';
            src: url('<%= Rails.root.join("public", "fonts", "Canela-Black.otf") %>') format('opentype');
        }

        @font-face {
            font-family: 'open sans bold';
            src: url('<%= Rails.root.join("public", "fonts", "OpenSans-Bold.ttf") %>') format('opentype');
        }

        @font-face {
            font-family: 'open sans regular';
            src: url('<%= Rails.root.join("public", "fonts", "OpenSans-Regular.ttf") %>') format('opentype');
        }
      body, html, table {
        font-size: 14px;
        padding: 0px;
        margin: 0px;
        width: 273mm;
        overflow: hidden;
        font-family: "Open Sans";
      }

      p { page-break-inside: avoid; font-size: 14px; word-wrap: break-word; }

      li {
        page-break-inside: avoid;
        font-size: 14px;
      }
      .page {
        page-break-before:always;
        width: 273mm;
        position: relative;
        clear: both;
      }
    </style>
    <meta charset="UTF-8">
  </head>
  <body>
    <center>
      <h1 style="font-size: 18px; margin-bottom: 0px; padding-bottom: 0px;"><%= cpolicy.name %></h1>
      <p style="margin-top: 0px; padding-top: 0px;">Last updated: <%= cpolicy.updated_at.strftime("%B %d, %Y") %></p>
    </center>
    <hr>
    <%= raw(cpolicy.description) %>
  </body>
</html>