<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans&display=swap" rel="stylesheet">
    <style type="text/css">
      body, html, table {
        font-size: 17px;
        padding: 0px;
        margin: 0px;
        width: 273mm;
        overflow: hidden;
        font-family: 'Public Sans', sans-serif;
      }

      p { page-break-inside: avoid; font-size: 17px; word-wrap: break-word; }
      .page {
        page-break-before:always;
        width: 273mm;
        position: relative;
        clear: both;
      }
    </style>
    <meta charset="UTF-8">
  </head>
  <body>
    <div class="container page">
      <center style="padding-top: 300px;">
        <h3><%= image_tag(logo, height: "300px") if logo.present? %></h3>
        <br/>
        <br/>
        <h1 style="padding-bottom: 0px; margin-bottom: 0px;"><big><big><%= cpolicy.business.name %></big></big></h1>
        <h2 style="padding-top: 0px; margin-top: 0px; font-size: 27px;">Compliance Manual</h2>
        <h3 style="font-weight: 400;">Last updated: <%= last_updated.strftime("%B %d, %Y") %></h3>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <% if cpconf.address %>
          <p><%= cpolicy.business.zipcode %> <%= cpolicy.business.address_1 %> <%= cpolicy.business.address_2 %> <%= cpolicy.business.apartment %></p>
        <% end %>
        <% if cpconf.phone %>
          <p><%= cpolicy.business.contact_phone %></p>
        <% end %>
        <% if cpconf.email %>
          <p><%= cpolicy.business.user.email %></p>
        <% end %>
      </center>
      <div style="position: fixed; bottom: 0px; width: 100%;">
        <div><%= cpconf.body if cpconf.disclosure %></div>
      </div>
    </div>
  </body> 
</html>