<p>Hi <%= @remindable.name %>, here’s your to do list for today:</p>

<% environment = ENV['STRIPE_PUBLISHABLE_KEY'].start_with?('pk_test') ? 'staging' : 'production' %>
<% delete_url = "https://"+(environment == "production" ? "app" : "staging")+".complect.com/mute_project/" %>

<ul>
  <% @past_dues.each do |task| %>
    <li>
      <i>(Past due)</i> <%= task["body"] %> <small><%= link_to "mute", "#{delete_url}#{task['id']}" if task["kind"] == "Project" %></small>
    </li>
  <% end %>
  <% @todays.each do |task| %>
    <li>
      <%= task["body"] %> <small><%= link_to "mute", "#{delete_url}#{task['id']}" if task["kind"] == "Project" %></small>
    </li>
  <% end %>
</ul>

<p>If you need help, reach out to see how we can help you outsource some of these tasks.</p>
